.tttgrid{
    align-items: center;
}

.title{
    text-align: center;

}

.display{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile{
    border: 1px solid rgb(49, 231, 49);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX{
    color: red;
}

.playerO{
    color: blue;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    background-color: black;
    color: rgb(49, 231, 49);
    padding: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#reset:hover{
    background-color: rgb(49, 231, 49);
    color: black;
}

.footer{
    margin-top: 5%;
}